.incont{
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 116, 8);
    width: 10%;
    border-radius: 15px;
    text-align: center;
    color: black;
}
body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
p{
    margin-right: 10px;
}
.parent{
    display: flex;
    flex-direction: row;
}
.msgs{
    width: 25%;
    text-align: center;
}
#container{
    margin: auto;
    text-align: center;
    width: 50%;
}
#ending{
    text-align: center;
}
#middle-cont{
    position: absolute;
    margin: auto;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pointer{
    cursor: pointer;
}