*, *::before, *::after{
    box-sizing: border-box;
}
.incont{
    text-align: center;
    color: black;
    font-size: 150px;
    width: 100%;
    height: auto;
    padding: 25px 35px;

}
#mescore{
    background-color: rgb(47, 216, 70);
    margin: 0px;
}
#aiscore{
    background-color: rgb(248, 77, 34);
    margin: 0px;
}
body{
    background-color: black;
    color: white;
    font-size: 100%;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.msgs{
    text-align: center;
    font-size: 50px;
    margin: 10px 0px;
}
.parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}
#container{
    text-align: center;
    display: flex;
    flex-direction: row;
}
#ending{
    text-align: center;
    font-size: 100px;
    margin: 0px;
}
.pointer{
    cursor: pointer;
    text-decoration: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);

}
img{
    filter: invert(1);
}
#rock{
    margin-top: -70px;
}
#retry{
    margin-top: 30%;
    width: 70%;
    height: auto;
}